## MVP

### Question 1

In [102]:
food_list = ["spam","ham","eggs","ham"]
food_list

['spam', 'ham', 'eggs', 'ham']

In [103]:
# Extract the second element of the list
food_list[1]

'ham'

In [104]:
# Extract the first to third (inclusive) element of the list
food_list[0:3]

['spam', 'ham', 'eggs']

In [105]:
# Extract only the last element of the list
food_list[-3]

'ham'

### Question 2

In [106]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [107]:
# Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [108]:
# Add "Queen Street" to the start of the list
stops.insert(0,"Queen St")
stops

['Queen St',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [109]:
# Find out what index "Croy" is at in the list
stops.index("Croy")

1

In [110]:
# Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4,"Polmont")
stops

['Queen St',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [111]:
# Remove "Haymarket" from the list of stops
stops.remove('Haymarket')
stops

['Queen St',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [112]:
# Remove all items from stops
stops.clear()
stops

[]

### Question 3

In [113]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [114]:
# Return the keys, values and items from this dictionary
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [115]:
person.values()

dict_values(['Steph', 31, True])

In [116]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [117]:
# Take out only the name from it
person["name"]

'Steph'

In [118]:
# Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
person.update({"email":"steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [119]:
# Delete the job description from the dictionary
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

### Question 4

In [120]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [121]:
# Print out a list of the even integers
for index, element in enumerate(numbers):
    if element % 2 == 0:
        print(element)

6
2
2
6

In [122]:
# Print the difference between the largest and smallest value
max(numbers)-min(numbers)

98

In [123]:
# Print True if the list contains a 2 next to a 2 somewhere.

for index, element in enumerate(numbers):
    next_element_index = index + 1
    
    if next_element_index <= len(numbers) - 1:        
        next_element = numbers[next_element_index]
        if element == 2 and next_element == 2:
            print(element, next_element)
            print(True)

2 2
True

In [124]:
# Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. 
# So [11, 6, 4, 99, 7, 11] would have sum of 22

total = 0
skip_var = False

for element in numbers:
    if element == 6:
        skip_var = True
    elif skip_var:
        if element == 7:
            skip_var = False
    else:
        total = total + element
        
print(total)

2

### Question 5

In [125]:
# Write a conditional that takes in two inputs :

# python_is_fun = True
# python_is_weird = True

# We want to print "Woo Python!" if either python_is_fun is true 
# OR python_is_weird is true 
# OR both python_is_fun and python_is_weird are true. 
# Otherwise, print "Python is not for me!". Make sure you test all the combinations.

python_is_fun = True
python_is_weird = True

### Question 6

## Extension

### Question 1

In [126]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Swansea'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [128]:
# Change the capital of Wales from "Swansea" to "Cardiff"
united_kingdom[1]["capital"].append("Cardiff")
united_kingdom[1]["capital"].pop(0)

AttributeError: 'str' object has no attribute 'append'

In [134]:
# Change the capital of Wales from "Swansea" to "Cardiff"
united_kingdom[1]["capital"].insert(0, "Cardiff")
united_kingdom[1]["capital"].pop(0)

AttributeError: 'str' object has no attribute 'insert'